<div class="set-your-vehicle-container">
  <div class="set-your-vehicle-header">
    <div class="set-your-vehicle-title">{{ title }}</div>
    <div class="set-your-vehicle-des">{{ des }}</div>
  </div>
  <div class="set-your-vehicle-form">{{ form }}</div>
</div>
